@import "tailwindcss";

@theme {
  /* Custom wedding colors */
  --color-wedding-burgundy: #b23e3e;
  --color-wedding-dark: #3f121b;
  --color-wedding-shadow: #3f121b33;
  --color-dusty-blue: #7A92A8;
  
  /* Custom drop shadow */
  --drop-shadow-wedding: 0 0 0.25rem #3f121b33;
}