---
import ParallaxBanner from "./parallax";
---

<ParallaxBanner client:load />
<div id="banner"></div>

<style>
  #banner {
    display: flex;
    width: 100%;
    max-width: 100vw;
    min-height: 120vh;
    background-image: url("../assets/images/proposoal-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    will-change: transform;
    clip-path: url(#wave-clip);
  }
</style>

<svg width="0" height="0">
  <defs>
    <clipPath id="wave-clip" clipPathUnits="objectBoundingBox">
      <path
        d="M 0,0 L 0,0.95 C 0.25,0.95 0.25,1 0.5,1 C 0.75,1 0.75,0.95 1,0.95 L 1,0 Z"
      ></path>
    </clipPath>
  </defs>
</svg>
