---
import { Image } from "astro:assets";

import { PUBLIC_HOTEL_URL } from "astro:env/client";

import logoImg from "@/assets/images/wedding-logo.png";

import barnImg from "@/assets/images/kingscote.jpg";
import lodgingImg from "@/assets/images/accom.jpg";

import DetailsCard from "@/components/details-card/index.astro";
---

<div id="details-section" class="relative w-full overflow-visible">
  <div class="relative w-full h-8">
    <Image
      src={logoImg}
      alt="Sam & Carolina's Wedding"
      class="absolute top-0 left-1/2 -translate-x-1/2 w-32 h-32 object-cover object-top rounded-full z-10"
    />
  </div>

  <div id="details-content-container" class="relative w-full">
    <div
      id="details-content"
      class="p-4 pt-32 pb-24 bg-crimson flex flex-col items-center justify-start gap-2.5"
    >
      <h1 class="text-6xl font-(family-name:--font-boston) text-ivory">
        Details
      </h1>
      <p
        class="text-center text-ivory px-8 sm:px-0 sm:w-120 text-pretty text-lg"
      >
        We hope you're as excited as we are for our wedding! Below we've
        collated all the important details about the big day, to help you plan
        your trip and make the most of your time with us.
      </p>

      <DetailsCard
        title="The Venue"
        description="Kingscote Barn, Tetbury, Gloucestershire"
        buttonText="Learn More"
        buttonLink="https://kingscotebarn.co.uk/"
        img={barnImg}
      />

      <DetailsCard
        title="Where to Stay"
        description="Lodging recommendations in the Tetbury area"
        buttonText="See Suggestions"
        buttonLink={PUBLIC_HOTEL_URL}
        img={lodgingImg}
      />
    </div>
  </div>
</div>

<style>
  #details-content-container {
    overflow-x: hidden;
  }

  #details-content {
    border-radius: 100%;
    width: 300vw;
    transform: translateX(-33%);
  }
</style>
