---
import OverviewItem from "./overview-item";
---

<section
  id="overview"
  class="py-16 px-4 w-full flex flex-col items-center gap-12"
>
  <div
    class="flex flex-col w-full items-center sm:flex-row gap-24 sm:gap-0 sm:justify-around"
  >
    <OverviewItem client:load title="When" details="23 01 2027" />
    <OverviewItem client:load title="Where" details="Cotswolds" />
    <OverviewItem client:load title="Attire" details="Cocktail" />
  </div>
</section>
