---
import OverviewItem from "./overview-item";
---

<section
  id="overview"
  class="py-16 px-4 w-full flex flex-col items-center gap-12"
>
  <h2 class="text-3xl font-bold text-wedding-burgundy">Wedding Overview</h2>
  <div class="flex flex-col w-full sm:flex-row justify-around">
    <OverviewItem client:load title="When" details="23 01 2027" />
    <OverviewItem client:load title="Where" details="Cotswolds" />
    <OverviewItem client:load title="Attire" details="Cocktail" />
  </div>
</section>
