<section id="hero">
	<h1
		class="font-(family-name:--font-caveat) text-4xl sm:text-6xl mt-1 mb-5 text-center text-pretty text-crimson leading-tight font-bold"
	>
		Sam &amp; Carolina are getting married<span class="hidden sm:inline"
			><br />on January 23rd 2027</span
		>!
	</h1>
	<h2>
		We look forward to having you join us for our wedding celebration in the
		beautiful Kingscote Barn, nestled in the heart of the Cotswolds countryside.
	</h2>
	<h2>
		It will be a day focused on what matters most to us: family, friends, good
		food, and great music. We can't wait to celebrate with you!
	</h2>
</section>

<style>
	#hero {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 32px 16px;
	}

	#hero h2 {
		font-size: 1.25rem;
		font-family: var(--font-cormorant);
		line-height: 1.5;
		margin-top: 1rem;
		text-align: center;
		font-weight: 600;
		color: var(--color-crimson);
	}

	@media screen and (min-width: 640px) {
		#hero h2 {
			font-size: 1.5rem;
			padding: 0 20%;
		}
	}
</style>
