---
import { PUBLIC_RSVP_LINK, PUBLIC_HOTEL_URL } from "astro:env/client";

import "@/styles/global.css";
---

<section id="hero">
	<h1
		class="font-(family-name:--font-cormorant) text-5xl text-pretty sm:text-6xl mt-1 text-center text-wedding-burgundy leading-normal sm:leading-tight font-bold drop-shadow-wedding"
	>
		Sam &amp; Carolina are getting married<span class="hidden sm:inline"
			><br />on January 23rd 2027</span
		>!
	</h1>
	<h2>
		Click <a href={PUBLIC_RSVP_LINK} target="_blank">here to RSVP</a>
	</h2>
	<h2 class="font-(family-name:--font-caveat) text-2xl text-gray-700">
		Click <a href={PUBLIC_HOTEL_URL} target="_blank"
			>here to book a hotel room</a
		>
	</h2>
</section>

<style>
	#hero {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
	}
</style>
