---
import background from "@/assets/background.svg";

import Head from "@/components/Head.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Sam &amp; Carolina's Wedding</title>
		<Head />
	</head>
	<body>
		<div id="container">
			<img id="background" src={background.src} alt="" fetchpriority="high" />
			<main>
				<slot />
			</main>
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	html::-webkit-scrollbar {
		width: 10px;
	}

	html::-webkit-scrollbar-track {
		background: #f4ebdd;
	}

	html::-webkit-scrollbar-thumb {
		background: var(--color-wedding-burgundy);
		transition: background-color 0.3s ease;
	}

	html::-webkit-scrollbar-thumb:hover {
		background-color: var(--color-wedding-burgundy);
	}

	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}

	#container {
		font-family: Inter;
		height: 100%;
		background-color: #fffdf533;
	}
</style>
